.newsletter
    background $vermelho
    width 100%
    height 200px
    margin-bottom 55px
    .center
        height 100%
        clearfix()
    form
        width 42%
        height 100%
        display flex
        float left
        justify-content center
        flex-direction column
        p
            exo 16
            color #fff
            margin 0 0 15px
        .box
            width 100%
            height 40px
            background #fff
            border-radius 4px
            position relative
            input
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                border 0
                outline 0
                exo 16
                color #000
                padding 0 40px 0 20px
                background transparent
            button
                position absolute
                right 10px
                top 0
                width 10px
                height 100%
                border 0
                background $img('seta.png') no-repeat center transparent
                outline 0
                cursor pointer
    img
        display block
        width 50%
        float right
    +below($tablet)
        height auto
        padding 30px 0
        margin-bottom 20px
        form
            width 100%
            .box input
                font-size 15px
                padding-left 15px
        img
            display none
    +mobile()
        form p
            font-size 14px
            margin-bottom 10px
            line-height 1.3

footer
    width 100%
    background #4E4E4E
    .center
        display flex
        +mobile()
            display block
    .col
        border-left 1px solid rgba(#fff, .15)
        padding 30px 0 50px 30px
        +mobile()
            padding 0 30px
            margin 0 !important
            &:first-child
                padding-top 30px
                padding-bottom 20px
            &:last-child
                padding-bottom 30px
        &.telefone
            margin-right 120px
            color #fff
            h3
                roboto 14 bold
                margin 0
                text-transform uppercase
            p
                roboto 14
                margin .5em 0 0
        &.links
            margin-right 60px
            +below($tablet)
                display none
            a
                display block
                exo 14 bold
                color rgba(#fff, .45)
                + a
                    margin-top .4em
                &:hover
                    color #fff
        &.copyright
            margin-left auto
            p
                margin 0
                exo 10
                color rgba(#fff, .45)
                + p
                    margin-top 1.2em
                a:hover
                    color #fff
