header
    width 100%
    height 40px
    background $azul
    position relative
    z-index 9999
    +below($tablet)
        height 100px
    .center
        height 100%
    .logo
        position absolute
        top 0
        left 40px
        width 220px
        height 220px
        background $img('4tech.png') no-repeat center #fff
        box-shadow 0 0 25px rgba(#000, .2)
        text-indent -9999px
        z-index 9998
        +below($tablet)
            width 115px
            height 100px
            left 0
            background-size auto 75%
            box-shadow 0 0 10px rgba(#000, .2)
    #nav-desktop
        margin-left 300px
        clearfix()
        +below($tablet)
            display none
        a
            display block
            height 40px
            line-height 40px
            float left
            exo 16
            color #fff
            text-transform uppercase
            padding 0 25px
            transition background .3s
            &.active
            &:hover
                background rgba(#fff, .15)

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left auto
    .lines
        display block
        width 100%
        height 4px
        background #fff
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background #fff
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

#nav-mobile
    +above($tablet)
        display none !important
    width 100%
    display none
    padding 25px 5%
    position absolute
    z-index 102
    box-shadow 0 3px 0 darken($vermelho, 10)
    background $vermelho
    text-align right
    left 0
    top 100px
    a
        display block
        exo 16
        text-transform uppercase
        color #fff
        &.active
            color $azul
        &.tooltip
            display inline-block
        + a
            margin-top 4px
