.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    overflow-x hidden
    .center
        clearfix()
        +below($tablet)
            width 100%
    .content-wrapper
        width 50%
        float right
        +below($tablet)
            width 100%
    .title
        width 100%
        height 180px
        position relative
        &:after
            content ''
            width 960px
            height 180px
            position absolute
            top 0
            left 0
            background $img('header.png') no-repeat center
        h1
            position absolute
            display inline-block
            background $vermelho
            left 0
            bottom 0
            z-index 2
            margin 0
            roboto 30 bold
            color #fff
            padding 10px 40px
        +below($tablet)
            &:after
                width 100%
                max-width 960px
                background-position right center
            h1
                left 5%
        +mobile()
            height 120px
            &:after
                width 100%
                max-width 630px
                height 100%
                background-size auto 100%
            h1
                font-size 20px
                padding 8px 24px
    .content
        background #DEDAD5
        color #444
        padding 30px 0 140px 40px
        position relative
        +tablet()
            padding 30px 5% 100px
        +mobile()
            padding 25px 5% 65px
        &:after
            content ''
            position absolute
            width 960px
            height 100%
            left 100%
            top 0
            background #DEDAD5
            +below($tablet)
                display none
        &.institucional
            exo 16
            +mobile()
                font-size 15px
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
            ul
                padding 0
                list-style-type none
                li
                    padding-left 1em
                    position relative
                    line-height 1.5
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                    + li
                        margin-top .5em
