desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul     = #424482
$vermelho = #E3332C

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Roboto+Slab:400,700')

exo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

roboto($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Roboto Slab', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
