.clientes
    p
        exo 16
        margin 0 0 1em
        +mobile()
            font-size 15px
    .imagens
        clearfix()
        width 100%
        .cliente
            width calc('33.333% - 6.6667px')
            float left
            margin-right 10px
            margin-bottom 10px
            padding 20px
            background #fff
            &:nth-child(3n)
                margin-right 0
            img
                display block
                width 100%
            +tablet()
                width calc('25% - 7.5px')
                &:nth-child(3n)
                    margin-right 10px
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width calc('50% - 5px')
                &:nth-child(3n)
                    margin-right 10px
                &:nth-child(2n)
                    margin-right 0
