.contato
    h2
        exo 22 bold
        margin 0 0 1.2em
        +mobile()
            font-size 18px
    p
        exo 16
        margin 0 0 1em
        +mobile()
            font-size 15px
    .flash
        border-radius 4px
        padding 15px
        exo 14
        margin-bottom 10px
        +mobile()
            font-size 13px
        &.flash-erro
            border 2px solid $vermelho
            color $vermelho
        &.flash-sucesso
            border 2px solid $azul
            color $azul
    form
        clearfix()
    input[type=text]
    input[type=email]
    textarea
        width 100%
        height 40px
        display block
        background #fff
        margin-bottom 5px
        border 0
        exo 16
        font-style italic
        padding 0 10px
        outline 0
        +mobile()
            font-size 15px
    textarea
        height 200px
        resize none
        padding 10px
        +mobile()
            height 150px
    input[type=submit]
        margin-top 10px
        display block
        width 140px
        height 40px
        background $vermelho
        color #fff
        exo 16 bold
        font-style italic
        border 0
        outline 0
        cursor pointer
        border 2px solid $vermelho
        transition background .3s, color .3s
        float right
        +mobile()
            font-size 15px
            width 120px
        &:hover
            background transparent
            color $vermelho
