+below($tablet)
    .center.center-banners
        width 100%

.home
    .banners
        width 100%
        height 590px
        position relative
        .banner
            width 100%
            height 100%
            background-position center
            background-repeat no-repeat
            background-size cover
        .wrapper
            position absolute
            left 0
            bottom 0
            height 375px
            width 100%
            display flex
            align-items center
            padding-left 40px
            .texto
                display inline-block
                background $vermelho
                roboto 30 bold
                color #fff
                padding 15px
        +tablet()
            height 440px
            .wrapper
                height 100%
                padding 0 5%
                .texto
                    font-size 24px
                    padding 12px
        +mobile()
            height 300px
            .wrapper
                height 100%
                padding 0 5%
                .texto
                    font-size 20px
                    padding 10px
    .chamadas
        background #DEDAD5
        padding 60px 0
        +tablet()
            padding 45px 0
        +mobile()
            padding 30px 0
        .center
            display flex
            justify-content space-around
            +tablet()
                justify-content space-between
            +mobile()
                display block
        .chamada
            text-align center
            width 25%
            color #444
            .imagem
                width 50px
                height 50px
                background-repeat no-repeat
                background-position center
                margin 0 auto 25px
            h3
                exo 18
                margin 0 0 10px
            p
                exo 14
                margin 0
            +tablet()
                width 29%
            +mobile()
                width 100%
                .imagem
                    margin-bottom 18px
                h3
                    font-size 16px
                + .chamada
                    margin-top 25px
    .noticia-destaque
        background $azul
        .center
            display flex
        .imagem
            min-width 526px
            min-height 300px
            background $img('noticia-destaque.png') no-repeat center
            background-size cover
            position relative
            &:after
                content ''
                width 165px
                height 92px
                position absolute
                background $img('puzzle.png') no-repeat center
                bottom 25px
                right -85px
        .texto
            margin-left 145px
            padding 45px 0
            color #fff
            h3
                roboto 24 bold
                margin 0
            p
                exo 16
                margin 20px 0 0
        +tablet()
            .imagem
                min-width 240px
                min-height 137px
                &:after
                    width 82px
                    height 46px
                    background-size 100% auto
                    bottom 20px
                    right -42px
            .texto
                margin-left 80px
                padding 25px 0
                h3
                    font-size 20px
                p
                    font-size 15px
        +mobile()
            .center
                display block
            .imagem
                display none
            .texto
                width 100%
                margin 0
                padding 30px 0
                h3
                    font-size 18px
                p
                    font-size 14px
