.main .noticias
    padding-bottom 40px
    +mobile()
        padding-bottom 25px

.noticias-index
    a
        display block
        border-bottom 1px solid $vermelho
        padding-bottom 20px
        margin-bottom 20px
        .titulo
            display block
            exo 22 bold
            margin 0
            transition color .3s
            +mobile()
                font-size 18px
        .data
            display block
            exo 12
            font-style italic
            margin-top 8px
        &:hover
            .titulo
                color $vermelho

.noticias-show
    h2
        display block
        exo 22 bold
        margin 0
        transition color .3s
        +mobile()
            font-size 18px
        span
            display block
            exo 12
            font-style italic
            margin-top 8px !important
    img
        display block
        max-width 100%
        margin 1.5em 0 !important
    .noticias-nav
        display flex
        margin-top 45px
        +tablet()
            max-width 600px
            margin 35px auto 0
        a
            exo 14
            font-style italic
            color #fff
            height 20px
            line-height 18px
            background $vermelho
            transition background .3s
            position relative
            +mobile()
                font-size 13px
                white-space nowrap
            &:before
                content ''
                position absolute
                top 0
                left -10px
                width 0
                height 0
                border-style solid
                border-width 10px 10px 10px 0
                border-color transparent $vermelho transparent transparent
                z-index 2
                transition border .3s
            &:after
                content ''
                position absolute
                top 0
                right -10px
                width 0
                height 0
                border-style solid
                border-width 10px 0 10px 10px
                border-color transparent transparent transparent $vermelho
                z-index 2
                transition border .3s
            &.anterior
                width 120px
                padding-left 10px
                &:after
                    display none
                +mobile()
                    min-width 70px
            &.proxima
                width 120px
                padding-right 10px
                text-align right
                &:before
                    display none
                +mobile()
                    min-width 70px
            &.todas
                width 260px
                text-align center
                margin 0 30px
                &:first-child
                    margin-left auto
                &:last-child
                    margin-right auto
                +below($tablet)
                    flex-grow 1
                +mobile()
                    margin 0 15px
            &:hover
                background $azul
                &:before
                    border-color transparent $azul transparent transparent
                &:after
                    border-color transparent transparent transparent $azul
